/* OrderStepOne.module.css */
.title {
  width: 100%;
  text-align: center;
  color: #372166;
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  padding: 110px 0px 50px 0px;
}
